@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";

body {
  background-color: #222222;
  margin-top: 50px;
  width: 95%;
}
